* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background: #000000;
    color: white;
    font-family: Arial, sans-serif;
}


/* Первый экран */

.hero {

    height: 100vh;

    background:
    linear-gradient(
        to bottom,
        rgba(2,3,54,0.5),
        #000000
    ),
    url("scylla.png");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}


.hero h1 {

    font-size: 100px;
    letter-spacing: 25px;
    margin: 0;

}


.hero p {

    font-size: 25px;
    letter-spacing: 10px;

}



button {

    margin-top: 30px;

    padding: 15px 40px;

    background: #020336;

    color: white;

    border: 1px solid #4a4fff;

    border-radius: 15px;

    font-size: 18px;

    cursor: pointer;

}



/* Магазин */


.shop {

    min-height: 100vh;

    background: #020336;

    padding: 80px;

    text-align: center;

}


.shop h2 {

    font-size: 50px;

}


.cards {

    display: flex;

    justify-content: center;

    gap: 30px;

}



.card {

    background: #050510;

    padding: 30px;

    width: 250px;

    border-radius: 20px;

    border: 1px solid #202060;

}


.card p {

    font-size: 30px;

}